
body {
  font-family: 'Saira Stencil One', cursive;
}
.title{
  text-align: center;
}
.label{
  text-align: center;
}
.syren__container {
  max-width: 217px;
}
.dial__container{
  flex-wrap: wrap;

}
